div{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;   
  text-align: center ;
}

h1, h2 {
  font-size: 40px;
  color: rgb(184, 26, 26);
  font-family: Arial, Helvetica, sans-serif;   
  text-align: center ;

}
